i
div{
    display: flex;
}
@font-face {
        font-family: 'Roboto';
        src: url('./roboto/Roboto-Regular.ttf');
        font-weight: normal;
        font-style: normal;
    
}
@font-face {
    font-family: 'Roboto';
    src: url('./roboto/Roboto-Medium.ttf');
    font-weight: medium;
    font-style: normal;

}
body {
    background: url("./img/background.jpg") no-repeat center top;
    min-height: 700px;
    color: #fff;
    font-family:'Roboto',sans-serif;
    
  }
.page-wrapper{
    min-height: 700px;
    display: flex;
    flex-direction: column;
    position: fixed;
}
h1{
    font-size: 53px;
    font-weight: medium;
}
blockquote{
    font-size: 18px ;
    margin: 0;
}
#header{
    display: flex;  
    position: fixed;
}
.icon{
   position: relative;
   margin-top: 30px ;
   margin-left: 400px;
   margin-right: 100px;
   width: 133px;
   height:61px;
}
.links{
    text-transform: uppercase;
}

.links ul li {
    margin: 42px 62px;
    
}
a{
    color: #fff;
    text-decoration: none;
}

.links ul li:nth-child(2) a,
.links ul li:nth-child(3) a,
.links ul li:nth-child(4) a
{
    opacity: 0.33;
}
.links ul{
  display: flex;
  list-style: none;
  text-decoration: none; 

}
#main-info{
    margin-top: 210px;
    margin-left: 520px;
    flex-direction: column;
    overflow-wrap: break-word;
    max-width: 550px;
}

button{
    background-color: #f6762c;
    border: none;
    border-radius: 2%;
    height: 57px;
    width: 204px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    margin-top: 47px;
}


